Data/flipkart_reviews.csv

# Data/processed_reviews.csv   ← uncomment to exclude from git
# dashboard_data/powerbi_dataset.csv

dashboard_data/*.pbix


__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


.env
*.env


analysis/.ipynb_checkpoints/
.ipynb_checkpoints/


.vscode/


pyright_out.txt
.mypy_cache/
.pyre/


*.egg-info/
dist/
build/
